<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BitmapFont-iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>BitmapFont-macOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>BitmapFont-tvOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>BitmapFont-watchOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>45F9A3F91D73FB070037283C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45F9A4031D73FB070037283C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45F9A4241D73FBE20037283C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45F9A4311D73FBF30037283C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45F9A43A1D73FBF30037283C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45F9A44D1D73FC010037283C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45F9A4561D73FC010037283C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45F9A4A31D73FE1E0037283C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
